h1 {
	font-family: Liberation Serif;
	font-size: 4em;
	text-align: center;
}
body {
	margin-left: 150px;
}
img {
	text-align: left;
	float: right;
	margin: 0px 0px 15px 15px;
}
.pseudoButtons {
  text-decoration: none;
  background-color; gray;
  border-radius: 4px;
  border: 1px solid black;
  padding: 8px;
  hover: underline;
}
